/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

footer {
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*******************************
*** Header/Login
*******************************/

.init {
    height: 100vh;
    background-image: url('../pic/justinian.png');
    background-size: cover;
    background-position: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.init__welcome {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/**
***  USER
**/

.user__action {
    background-color: #d9d9d9;
    border: 1px solid #555;
    border-radius: 5px;
    font-weight: 200;
    padding: 10px;
    margin: 5px;
    display: grid;
}

.user__action>b {
    display: inline-block;
    justify-self: center;
}

.user__action h1 {
    text-align: center;
}

.user__action:hover {
    background-color: #f7f7f7;
    text-decoration-line: solid 1px #555;
}

.user__action:active {
    transform: translateY(5px);
}

.user__btn {
    background-color: #f7f7f7;
}

.user__form {
    text-align: center;
    width: 100%;
    margin: 5px;
}

.user__form>input {
    width: 45%;
    margin: 5px;
}

.user__main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}

.user__main>a, .user__main>a:visited {
    text-decoration: none;
    color: #555;
}

#login {
    display: none;
}

#signup {
    display: none;
}


/**********************************************
*** Upper / Calculations
**********************************************/

.head__background {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../pic/back.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.result {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #f7f7f7;
    opacity: 0.9;
    display: none;
}

.result__title {
    display: none;
    font-size: 18px;
    text-align: center;
    margin: 10px, 0;
    font-weight: 300;
}


/*
*   Logout functionality
*/

.logged__main {
    position: sticky;
    top: 3%;
    left: 86%;
    width: 25%;
    display: none;
    align-items: flex-start;
    justify-content: center;
}

/**********************************************
*** Middle
**********************************************/


/***** Mid/Calc *****/

.mid {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.mid__container {
    margin: 0 auto;
    text-align: center;
}

.mid__container>select,input {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: border 0.3s;
}

.field__left {
    float: left;
    margin-left: 20%;
}

.field__right {
    float: right;
    margin-right: 20%;
}

/* BUTTONS */

.btn {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    margin-top: 10px;
}

.calc__btn {
    color: #28B9B5;
}

.inv__btn {
    color: #53a0e7;
}

.res__btn {
    color: #E00C0C;
}

/**********************************************
*** LOWER HALF
**********************************************/

.lower {
    width: 100%;
}

.item__title, .item__list {
    display: none;
}

.item__title--prelim {
    height: 35vh;
}

.item__title>h2, .item__title--prelim>h2 {
    text-align: center;
    color: #28B9B5;
    text-transform: uppercase;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.item__list {
    width: 100%;
    display: none;
    flex-wrap: wrap;
}

/* ITEM ELEMENTS*/

.item {
    background-color: #f7f7f7;
    border-radius: 5px;
    height: 35px;
    color: #28B9B5;
    padding: 7px;
    border: 1px solid #e7e7e7;
    margin-bottom: 3px;
    flex-basis: 31%;
    flex-grow: 1;
}

.item:first-child {
    border-top: 1px solid #e7e7e7;
}

.item__value {
    transition: transform 0.3s;
    float:left;
}